extends layout

mixin list(entries)
  each entry, i in entries
      li #{entry} #{i}

block content
  h1= title
  p Welcome to #{title}
  p App mit Express, Jade, Node, Less und Heroku

  mixin list( listOfNumbers )

  block header
    - if (showHeader)
      h1 Header Block #{showHeader}
      p Blablablabla

